h1 {
	line-height: 2px;
}

h3 {
	line-height: 8px;
}

body {
	background-color: #FEF7F7;
	background-image: url("background3.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	height:100%;
	padding:10px;
}



p {
	padding: 10px;
	background-color: #FFFFFF;
	border-color: black;
	border-style: solid;
	border-width: 3px;

max-width: 600px;
}

table {
text-align: 3em;
}

.aboutme {
	max-width: 35%;
	text-align: justify;
	text-justify: inter-word;
	white-space: border 5px;
	float:left;
}

.blogposts {
	float: right;
	text-align: justify;
	max-width: 62%;
	height: 600px;
	overflow: scroll;
}

.footer {
	display: inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

form {
	padding: 10px;
	background-color: #FFFFFF;
	border-color: black;
	border-color: black;
	border-style: solid;
	border-width: 3px;
}

input {
	max-width: 98%;
}

a {
	text-decoration: none;
	font-style: italic;
}

table {
	line-height: 4px;
}

.your-img {
    height: auto; 
    width: 98%; 
    max-width: 300px;
}

.header-photo {
	height: auto; 
    width: 98%;
    max-width: 800px;
}

.button-photo {
	height: auto; 
    width: 80%;
    max-width: 600px;
}

iframe {
	max-width: 98%;
}